.main-bg {
    height: 100%;
    background: #e91e63 !important;
}
.textLeft{
    text-align: left !important;
}
input:focus,
button:focus {
    border: 1px solid #e91e63 !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: #e91e63 !important;
    border-color: #e91e63 !important;
}

.card,
.btn,
input {
    border-radius: 1% !important;
}


/*loading*/
#spinner {
    position: fixed;
    top: 0; left: 0; z-index: 9999;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s;
}

#spinner {
    color: #FFF;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#spinner.show {
    visibility: visible;
    opacity: 1;
}